:root {
  /* C O L O R S */

  /* backround */
  --bg-color: #f4f4f4;
  --primary-color: #fff;
  --secondary-color: #000;

  /* text */
  --text-color: #000;
  --primary-text: #fff;
}
.dark-theme {
  /* backround */
  --bg-color: #000;
  --primary-color: #000;
  --secondary-color: #fff;

  /* text */
  --text-color: #fff;
}
/* B A S E */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}
/* S C R O L L  B A R */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px;
}
/* H E A D E R */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--primary-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#header .logo {
  font-size: 20px;
  font-weight: 900;
}

#navbar {
  display: flex;
  gap: 30px;
}
#navbar li a {
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  position: relative;
}
#navbar li a:hover,
#navbar li a.active {
  color: var(--secondary-color);
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background: var(--secondary-color);
  bottom: -4px;
  left: 0;
}
#header .icons {
  font-size: 20px;
  display: flex;
  gap: 15px;
  cursor: pointer;
}
#header .icons #bar {
  display: none;
}

/* H E R O */
#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 0px 80px;
  background: var(--primary-color);
  color: var(--secondary-color);
}
#hero .text,
#hero .img {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero .text h1 {
  font-size: 5rem;
  font-weight: 900;
}
#hero .text p {
  width: 70%;
  margin: 20px 0;
}
#hero .text .btn {
  padding: 10px 30px;
  background: var(--secondary-color);
  color: var(--primary-color);
  align-self: flex-start;
  transition: 0.5s;
  border-radius: 5px;
}
#hero .text .btn:hover {
  background: var(--bg-color);
  color: var(--text-color);
}
#hero .img img {
  border-radius: 5px;
}
/* S E R V I C E S */
#services {
  height: 100%;
  width: 100%;
  padding: 40px 80px;
}
#services .text {
  padding: 20px 0;
  text-align: center;
}
#services .text h1 {
  font-size: 3rem;
  font-weight: 900;
}
#services .text p {
  padding-top: 20px;
}
#services .container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
#services .container .box {
  background: var(--primary-color);
  padding: 30px;
  border-radius: 5px;
  width: 400px;
}
#services .container .box img {
  border-radius: 5px;
  margin-bottom: 20px;
}
#services .container .box .info {
  margin-bottom: 20px;
}

#services .container .box .btn {
  padding: 10px 30px;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
  transition: 0.5s;
}
#services .container .box .btn:hover {
  background: var(--bg-color);
  color: var(--text-color);
}
/* A B O U T */

#about {
  height: 100%;
  width: 100%;
  padding: 40px 80px;
  display: flex;
  gap: 50px;
}
#about .img,
#about .text {
  width: 100%;
}
#about .text h1 {
  font-size: 3rem;
  font-weight: 900;
}
#about .text p {
  margin: 20px 0;
  width: 80%;
}
#about .text .btn {
  padding: 10px 30px;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
  transition: 0.5s;
}
#about .text .btn:hover {
  background: var(--bg-color);
  color: var(--text-color);
}
#about .img img {
  border-radius: 5px;
}

/* C O N T A C T */
#contact {
  height: 100%;
  width: 100%;
  padding: 40px 80px;
  background: var(--primary-color);
  color: var(--secondary-color);
}
#contact .text {
  padding: 20px 0;
  text-align: center;
}
#contact .text h1 {
  font-size: 3rem;
  font-weight: 900;
}
#contact .text p {
  padding-top: 20px;
}
#contact .container {
  display: flex;
  gap: 50px;
  padding: 20px 0;
}
#contact .container .box {
  width: 100%;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact .container .box input,
#contact .container .box textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  outline: none;
  background: var(--primary-color);
  color: var(--secondary-color);
}
#contact .container .box button {
  padding: 10px 30px;
  border: none;
  outline: none;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
#contact .container .box button:hover {
  background: var(--bg-color);
  color: var(--text-color);
}
#contact .container .info {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 30px;
  border-radius: 5px;
  width: 100%;
}
#contact .container .info .info-box {
  display: flex;
  gap: 20px;
}
#contact .container .info .info-box .icon {
  font-size: 30px;
}
#contact .container .info .info-box p {
  margin-top: 5px;
}
#contact .container .info .social {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  font-size: 20px;
  cursor: pointer;
}
/* F O O T E R */
#footer {
  height: 100%;
  width: 100%;
  padding: 20px 80px;
  background: var(--secondary-color);
  color: var(--primary-color);
}
#footer .container {
  display: flex;
  justify-content: space-between;
}
#footer .container .logo {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}
#footer .container .col-1 .social {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  font-size: 20px;
  cursor: pointer;
}
#footer .container .col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer .container .col h1 {
  font-size: 18px;
  font-weight: 700;
}

/* R E S P O N S I V E */

@media (max-width: 991px) {
  /* H E A D E R */
  #header {
    padding: 20px 40px;
  }
  #header .logo {
    font-size: 18px;
  }
  #navbar li a {
    font-size: 14px;
  }

  /* H E R O */
  #hero {
    gap: 50px;
    padding: 0 40px;
  }
  #hero .text h1 {
    font-size: 4rem;
  }
  #hero .text p {
    width: 100%;
  }
  /* S E R V I C E S */
  #services {
    padding: 40px;
  }
  #services .text h1 {
    font-size: 2rem;
  }
  /* A B O U T */
  #about {
    padding: 40px;
    align-items: center;
  }
  #about .text h1 {
    font-size: 2rem;
  }
  #about .text p {
    width: 100%;
  }
  /* C O N T A C T */
  #contact {
    padding: 40px;
  }
  #contact .text h1 {
    font-size: 2rem;
  }
  /* F O O T E R */
  #footer {
    padding: 20px 40px;
  }
}

@media (max-width: 768px) {
  /* H E A D E R */
  #header .icons #bar {
    display: block;
  }
  #navbar {
    position: absolute;
    top: 73px;
    right: -200px;
    background: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 100vh;
    padding: 40px 0 0 10px;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.5s;
  }
  #navbar.active {
    right: 0px;
  }
  /* H E R O */
  #hero {
    flex-direction: column-reverse;
    height: 100%;
    text-align: center;
    padding: 40px 40px 0 40px;
  }
  #hero .text,
  #hero .img {
    height: 100%;
  }
  #hero .text .btn {
    align-self: center;
  }
  /* S E R V I C E S */
  #services .container .box {
    width: 100%;
  }
  /* A B O U T */
  #about {
    flex-direction: column;
  }
  /* C O N T A C T */
  #contact .container {
    flex-direction: column;
  }
  /* F O O T E R */
  #footer .container {
    flex-direction: column;
    gap: 30px;
  }
}
